:host {
    display: grid;
    gap: .5em;
    grid-template-columns: auto auto auto auto;

    .game-card {
        background-color: var(--background-color-secondary);
        border: 1px solid var(--border-color-secondary);
        border-radius: .5em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding: 1em;

        &:hover {
            background-color: var(--button-hover-color-secondary);
        }

        header {
            display: flex;
            justify-content: space-between;

            h3 {
                margin: 0;
            }
        }

        section {
            display: flex;
            flex-direction: column;
            gap: .5em;

            .game-categories {
                display: flex;
                gap: .5em;
            }

            .game-date {
                text-align: right;
            }
        }
    }
}