<header>
    <button (click)="onToggleGamesView()" type="button">
        @switch (gamesView()) {
        @case ('grid') { <span class="material-symbols-rounded">grid_view</span> }
        @case ('list') { <span class="material-symbols-rounded">list</span> }
        }
    </button>

    <!-- <div class="form-field">
        <label for="search">
            <span class="material-symbols-rounded">search</span>
            <span>Suche</span>
        </label>
        <input type="search" id="search">
    </div> -->

    <app-select iconName="groups" label="Gruppenphase" [options]="groupPhases" (selectedChange)="onQueryGroupPhase($event)"></app-select>

    <app-select iconName="category" label="Kategorie" [options]="categoryIds()" (selectedChange)="onQueryCategory($event)"></app-select>

    <app-select iconName="sort" label="Sortierung" [options]="gameSorts" (selectedChange)="onQuerySortBy($event)"></app-select>

    @if (user()) {
    <button (click)="onOpenAddGameDialog()" type="button">
        <span class="material-symbols-rounded">add</span>
        <span>Spiel hinzufügen</span>
    </button>
    }
</header>

@switch (gamesView()) {
@case ('grid') { <app-game-grid [games]="games()"></app-game-grid> }
@case ('list') { <app-game-list [games]="games()"></app-game-list> }
}