<form [formGroup]="signupFormGroup" (submit)="onSignUp()">
    <fieldset>
        <div class="form-field">
            <label for="email">Email</label>
            <input autocomplete="email" formControlName="email" id="email" type="email">
        </div>

        <div id="name-fields">
            <div class="form-field">
                <label for="firstName">Vorname</label>
                <input autocomplete="given-name" formControlName="firstName" id="firstName" type="text">
            </div>

            <div class="form-field">
                <label for="lastName">Nachname</label>
                <input autocomplete="family-name" formControlName="lastName" id="lastName" type="text">
            </div>
        </div>

        <div class="form-field">
            <label for="password">Passwort</label>

            <div id="password-field">
                <input autocomplete="new-password" formControlName="password" id="password" [type]="showPassword ? 'text' : 'password'">
                <button (click)="showPassword = !showPassword" tertiary type="button">
                    @if (showPassword) {
                    <span class="material-symbols-rounded">visibility_off</span>
                    } @else {
                    <span class="material-symbols-rounded">visibility</span>
                    }
                </button>
            </div>
        </div>
    </fieldset>

    <div class="form-actions">
        <button secondary type="reset">Zurücksetzen</button>

        <button [disabled]="signupFormGroup.invalid" type="submit">Registrieren</button>
    </div>
</form>