header {
    align-items: center;
    display: flex;
    gap: 1rem;

    .title {
        padding-inline: 1rem;
        margin: 0;
    }

    .tab {
        align-items: center;
        display: inline-flex;
        gap: .5rem;
        padding: 1rem;
        opacity: 50%;

        &.active {
            opacity: 100%;
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                opacity: 100%;
            }
        }
    }

    nav {
        flex-grow: 1;
    }

    aside {
        display: flex;
        gap: .5rem;
        padding-inline: .5rem;
    }
}