<header>
    <h1 routerLink="/">gamescape</h1>

    <nav>
        @if (isAuthenticated()) {
        @if (user()) {
        <button routerLink="/user" secondary>{{ user()?.firstName }} {{ user()?.lastName }}</button>
        }
        <button (click)="logOut()">Ausloggen</button>
        } @else {
        <button routerLink="/signup" secondary>Registrieren</button>
        <button routerLink="/login">Anmelden</button>
        }
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>