<header>
    <h2 class="title">gamescape</h2>

    <nav>
        <a class="tab" routerLink="games" routerLinkActive="active">
            <span class="material-symbols-rounded">toys_and_games</span>
            <span>Spiele</span>
        </a>

        <a class="tab">
            <span class="material-symbols-rounded">groups</span>
            <span>Gruppenphase</span>
        </a>

        <a class="tab" routerLink="categories" routerLinkActive="active">
            <span class="material-symbols-rounded">category</span>
            <span>Kategorien</span>
        </a>
    </nav>

    <aside>
        @if (user(); as user) {
        <a class="tab" routerLink="user" routerLinkActive="active">
            <span>{{ user.firstName }} {{ user.lastName }}</span>
        </a>
        } @else {
        <button (click)="onOpenSignupDialog()" secondary type="button">Registrieren</button>

        <button (click)="onOpenLoginDialog()" type="button">Anmelden</button>
        }

        @if (theme(); as theme) {
        <button (click)="onToggleTheme()" tertiary>
            @switch (theme) {
            @case ('LIGHT') {
            <span class="material-symbols-rounded">light_mode</span>
            } @case ('DARK') {
            <span class="material-symbols-rounded">dark_mode</span>
            }
            }
        </button>
        }
    </aside>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<app-dialog></app-dialog>