<header>
    <h1 routerLink="/">gamescape</h1>

    <aside>
        @if (isAdmin) {
        <nav>
            <button routerLink="categories" secondary type="button">Kategorien</button>
        </nav>
        }

        <nav>
            @if (isAuthenticated()) {
            @if (user(); as user) {
            <button routerLink="/user" tertiary type="button">{{ user.firstName }} {{ user.lastName }}</button>
            }
            <button (click)="onLogOut()">Ausloggen</button>
            } @else {
            <button routerLink="/signup" secondary type="button">Registrieren</button>
            <button routerLink="/login" type="button">Anmelden</button>
            }
        </nav>

        <button (click)="onToggleTheme()" tertiary type="button">
            @switch (theme()) {
            @case ('light') {
            <span class="material-symbols-rounded">dark_mode</span>
            <span>Dunkel</span>
            } @case ('dark') {
            <span class="material-symbols-rounded">light_mode</span>
            <span>Hell</span>
            }
            }
        </button>
    </aside>
</header>

<main>
    <router-outlet></router-outlet>
</main>