header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    h1,
    h4 {
        cursor: pointer;
        margin: 0;
    }

    nav {
        display: flex;
        gap: .5em;

        button {
            cursor: pointer;
        }
    }
}