:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        background-color: white;
        border-bottom: 1px solid hsl(0, 0%, 80%);
        display: flex;
        justify-content: space-between;
        padding: 1em;

        h1 {
            cursor: pointer;
            margin: 0;
        }

        nav {
            display: flex;
            gap: .5em;
        }
    }

    main {
        flex-grow: 1;
    }
}