<header>
    <button (click)="toggleView()" secondary type="button">
        @switch (viewType()) {
        @case ('grid') {
        <span class="material-symbols-rounded">list</span>
        <span>Liste</span>
        } @case ('list') {
        <span class="material-symbols-rounded">grid_view</span>
        <span>Gitter</span>
        }
        }
    </button>

    @if (isAuthenticated()) {
    <button routerLink="/add-game" secondary type="button">Spiel hinzufügen</button>
    }
</header>

@switch (viewType()) {
@case ('grid') {
<app-game-grid [games]="games()"></app-game-grid>
} @case ('list') {
<app-game-list [games]="games()"></app-game-list>
}
}