<header>
    <button (click)="toggleView()" secondary type="button">
        @if (viewType() === 'grid') {
        <span>Liste</span>
        } @else if (viewType() === 'list') {
        <span>Gitter</span>
        }
    </button>

    @if (isAuthenticated()) {
    <button routerLink="/add-game" secondary type="button">Spiel hinzufügen</button>
    }
</header>

@if (viewType() === 'grid') {
<app-game-grid [games]="games()"></app-game-grid>
} @else if (viewType() === 'list') {
<app-game-list [games]="games()"></app-game-list>
}