table {
    border-spacing: 0 .5em;
    width: 100%;

    tr {
        background-color: var(--background-color-secondary);
    }

    td,
    th {
        border: 1px solid var(--border-color-secondary);
        border-left-width: 0;
        padding: 1em;

        &:first-child {
            border-left-width: 1px;
            border-radius: .5em 0 0 .5em;
        }

        &:last-child {
            border-radius: 0 .5em .5em 0;
            border-right-width: 1px;
        }
    }

    th {
        border-right-width: 0;
        text-align: start;
    }

    tbody tr {
        cursor: pointer;

        &:hover {
            background-color: var(--button-hover-color-secondary);
        }
    }

    .game-categories {
        display: flex;
        gap: .5em;
    }
}