table {
    background-color: var(--background-color-secondary);
    border: 1px solid var(--border-color-secondary);
    border-radius: .5em;
    border-spacing: 0;
    width: 100%;

    td,
    th {
        padding: 1em;
    }

    th {
        text-align: start;
        border-bottom: 1px solid var(--border-color-secondary);
    }

    td {
        border-bottom: 1px solid var(--border-color-secondary);
        border-right: 1px solid var(--border-color-secondary);
    }

    tr:last-child td {
        border-bottom: none;
    }

    td:last-child {
        border-right: none;
    }
}