<form [formGroup]="signupFormGroup" (submit)="onSignUp()">
    <fieldset>
        <div class="form-field">
            <label for="email">Email</label>
            <input autocomplete="email" formControlName="email" id="email" type="email">
        </div>

        <div class="name-fields">
            <div class="form-field">
                <label for="firstName">Vorname</label>
                <input autocomplete="given-name" formControlName="firstName" id="firstName" type="text">
            </div>

            <div class="form-field">
                <label for="lastName">Nachname</label>
                <input autocomplete="family-name" formControlName="lastName" id="lastName" type="text">
            </div>
        </div>

        <div class="form-field">
            <label for="password">Passwort</label>
            <div class="password-field">
                <input autocomplete="new-password" formControlName="password" id="password" [type]="showPassword ? 'text' : 'password'">
                <button (click)="showPassword = !showPassword" type="button">{{ showPassword ? 'Ausblenden' : 'Einblenden' }}</button>
            </div>
        </div>
    </fieldset>

    <div class="form-actions">
        <button [disabled]="signupFormGroup.invalid" type="submit">Anmelden</button>
        <button type="reset">Zurücksetzen</button>
    </div>
</form>