<form [formGroup]="updatePasswordFormGroup" (submit)="onUpdatePassword()">
    <fieldset>
        <div style="display: none;" class="form-field">
            <label for="email">Email</label>
            <input autocomplete="email" id="email" type="email">
        </div>

        <div class="form-field">
            <label for="password">Passwort</label>
            <div class="password-field">
                <input autocomplete="new-password" formControlName="password" id="password"
                    [type]="showPassword ? 'text' : 'password'">
                <button (click)="showPassword = !showPassword" type="button">{{ showPassword ? 'Ausblenden' : 'Einblenden' }}</button>
            </div>
        </div>
    </fieldset>

    <div class="form-actions">
        <button [disabled]="updatePasswordFormGroup.invalid" type="submit">Bestätigen</button>
        <button type="reset">Zurücksetzen</button>
        <button routerLink="/user" type="button">Abbrechen</button>
    </div>
</form>