.category-table {
    display: grid;
    margin: 1em;
    gap: .5em;

    .table-row,
    .form-row {
        border: 1px solid var(--border-color-secondary);
        border-radius: .5em;
        display: grid;
        grid-template-columns: 4fr 3fr 4fr;

        span {
            align-items: center;
            display: flex;
            gap: .5em;
            padding: .5em;

            &:not(:last-child) {
                border-right: 1px solid var(--border-color-secondary);
            }
        }
    }

    .table-row {
        background-color: var(--background-color-secondary);
    }

    .form-row {
        border-color: var(--background-color-secondary);

        input {
            width: 100%;
        }
    }
}