<div class="select">
    <button class="select-head" (click)="isExpanded = !isExpanded" type="button">
        <span class="material-symbols-rounded">{{ iconName() }}</span>
        <span class="head-label">
            <div [class]="selected() === null ? 'active' : ''">{{ label() }}</div>
            @for (option of options(); track option.value) {
            <div [class]="selected() === option ? 'active' : ''">{{ option.label }}</div>
            }
        </span>
        <span class="material-symbols-rounded">{{ isExpanded ? 'expand_less' : 'expand_more' }}</span>
    </button>

    @if (isExpanded) {
    <div class="select-body">
        @for (option of options(); track option.value) {
        <button class="select-option" (click)="onSelect(option)" type="button">
            @if (option === selected()) { <span class="material-symbols-rounded">radio_button_checked</span> }
            @else { <span class="material-symbols-rounded">radio_button_unchecked</span> }
            <span class="option-label">{{ option.label }}</span>
        </button>
        }
    </div>
    }
</div>