@if (game()) {
<form [formGroup]="updateGameFormGroup" (submit)="onUpdateGame()">
    <fieldset>
        <div class="form-field">
            <label for="title">Titel</label>
            <input formControlName="title" id="title" [placeholder]="game()?.title ?? ''" type="text">
        </div>

        <div class="form-field">
            <label for="groupPhase">Gruppenphase</label>
            <select formControlName="groupPhase" id="groupPhase">
                @for (groupPhase of groupPhases; track groupPhase.value) {
                <option [ngValue]="groupPhase.value">{{ groupPhase.key }}</option>
                }
            </select>
        </div>
    </fieldset>

    <div class="form-actions">
        <button (click)="onReset()" type="button">Zurücksetzen</button>
        <button [disabled]="!isUpdateGameValid" type="submit">Bestätigen</button>
    </div>
</form>
}