<form [formGroup]="loginFormGroup" (submit)="onLogIn()">
    <h2>Anmeldung</h2>

    <fieldset>
        <div class="form-field">
            <label for="email">Email</label>
            <input autocomplete="email" formControlName="email" id="email" type="email">
        </div>

        <div class="form-field">
            <label for="password">Passwort</label>

            <div id="password-field">
                <input autocomplete="current-password" formControlName="password" id="password" [type]="showPassword ? 'text' : 'password'">
                <button (click)="showPassword = !showPassword" tertiary type="button">
                    @if (showPassword) {
                    <span class="material-symbols-rounded">visibility_off</span>
                    } @else {
                    <span class="material-symbols-rounded">visibility</span>
                    }
                </button>
            </div>
        </div>
    </fieldset>

    <div class="form-actions">
        <button secondary type="reset">Zurücksetzen</button>

        <button [disabled]="loginFormGroup.invalid" type="submit">Anmelden</button>
    </div>
</form>