@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

:root,
.light {
    --background-color: white;
    --background-color-hover: hsl(0, 0%, 95%);
    --border-color: hsl(0, 0%, 80%);
    --button-background-color-primary: black;
    --button-background-color-secondary: hsl(0, 0%, 80%);
    --button-color-primary: white;
    --button-color-secondary: black;
    --color: black;
    --input-background-color: hsl(0, 0%, 95%);
    --input-hover-backgroud-color: hsl(0, 0%, 90%);
    --tag-background-color-lightness: 90%;
}

.dark {
    --background-color: black;
    --background-color-hover: hsl(0, 0%, 5%);
    --border-color: hsl(0, 0%, 20%);
    --button-background-color-primary: white;
    --button-background-color-secondary: hsl(0, 0%, 20%);
    --button-color-primary: black;
    --button-color-secondary: white;
    --color: white;
    --input-background-color: hsl(0, 0%, 5%);
    --input-hover-backgroud-color: hsl(0, 0%, 10%);
    --tag-background-color-lightness: 10%;
}

.material-symbols-rounded {
    font-size: 1rem;
}

body,
html {
    height: 100%;
}

* {
    font-family: 'Fredoka';
}

body {
    background-color: var(--background-color);
    color: var(--color);
    margin: 0;
}