@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

:root,
.light {
    --background-color: white;
    --background-color-hover: hsl(0, 0%, 95%);
    --border-color: hsl(0, 0%, 80%);
    --button-background-color-primary: black;
    --button-background-color-secondary: hsl(0, 0%, 80%);
    --button-color-primary: white;
    --button-color-secondary: black;
    --color: black;
    --input-background-color: hsl(0, 0%, 95%);
}

.dark {
    --background-color: black;
    --background-color-hover: hsl(0, 0%, 5%);
    --border-color: hsl(0, 0%, 20%);
    --button-background-color-primary: white;
    --button-background-color-secondary: hsl(0, 0%, 20%);
    --button-color-primary: black;
    --button-color-secondary: white;
    --color: white;
    --input-background-color: hsl(0, 0%, 5%);
}

.material-symbols-rounded {
    font-size: 1rem;
}

body,
html {
    height: 100%;
}

* {
    font-family: 'Fredoka';
}

body {
    background-color: var(--background-color);
    color: var(--color);
    margin: 0;
}

button {
    align-items: center;
    background-color: var(--button-background-color-primary);
    border: none;
    border-radius: 4px;
    color: var(--button-color-primary);
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding: .5rem 1rem;

    &:disabled {
        opacity: 50%;
    }

    &:not(:disabled) {
        cursor: pointer;
    }
}

button[secondary] {
    background-color: var(--button-background-color-secondary);
    color: var(--button-color-secondary);
}

button[tertiary] {
    background-color: var(--background-color);
    color: var(--color);
}

input,
select {
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--color);
    padding: .5rem;
}