@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body,
html {
    height: 100%;
}

* {
    font-family: 'Fredoka';
}

body {
    margin: 0;
}

button {
    align-items: center;
    background-color: inherit;
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: .25em;
    display: inline-flex;
    justify-content: center;
    padding: .5em 1em;

    &[secondary] {
        border: 1px hidden;
        font-weight: bold;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            background-color: hsl(0, 0%, 95%);
        }

        &:active {
            background-color: hsl(0, 0%, 90%);
        }
    }
}

input {
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: .25em;
    padding: .5em;
}

select {
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: .25em;
    padding: .5em;

    &:not(:disabled) {
        cursor: pointer;
    }
}